<?xml version="1.0" encoding="UTF-8"?>
<packages>
	<package id="firefox" version="120.0.1"/>
	<package id="teamspeak" version="3.6.2"/>
	<package id="microsoft-windows-terminal" version="1.18.3181"/>
	<package id="7zip" version="23.1.0"/>
	<package id="ds4windows" version="3.3.0"/>
	<package id="hwinfo.portable" version="7.66"/>
	<package id="teracopy" version="3.17.0"/>
	<package id="portmaster" version="1.0.0"/>
	<package id="protonvpn" version="3.2.7"/>
	<package id="sandboxie-plus.install" version="1.12.3"/>
	<package id="vlc" version="3.0.20"/>
	<package id="sublimetext4" version="4.0.0.416900"/>
</packages>